{% extends "base.html" %}
{% block content %}
{% from 'bootstrap5/form.html' import render_form %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
          <h2 class="pb-2 border-bottom">Contact Me</h2>
            {% with msgs = get_flashed_messages() %}
                {% if msgs %}

                <p class="pb-2 border-bottom">
                    {{ msgs[0] }}
                </p>
                {% endif %}
            {% endwith %}

            {{ render_form(form, novalidate=True) }}

      </div>
    </div>
  </div>

<!--
<div>

</div>
<div>
    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
    <p>
        {{ msgs[0] }}
    </p>
    {% endif %}
    {% endwith %}
</div>
-->

{% endblock %}