{% extends "base.html" %}
{% block content %}
<div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom">Personal Projects</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">

          <div>
            <h3 class="fs-2 text-body-emphasis">Application Monitor</h3>
            <p>Skills : OAth, Google Drive</p>
            <p>Monitoring the topmost active application or webpage in real time and log the activity as a text file to Google Drive.</p>
            <a href="https://github.com/jsmecha/Python/tree/main/AppLogger4Windows">Git Repository</a>
          </div>
        </div>
        <div class="col d-flex align-items-start">

          <div>
            <h3 class="fs-2 text-body-emphasis">HAC Grade Summary</h3>
            <p>Skills : Selenium, Web Scraping</p>
            <p>Auomatically log into the HAC site, scrape the current week's subject scores and assignment lists, and export the data to a CSV file.</p>
            <a href="https://github.com/jsmecha/rrisd_hac_summary">Git Repository</a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2 text-body-emphasis">My Website</h3>
            <p>Skills : Flask, Wtform</p>
            <p>My personal website to introduce my personal projects.</p>
            <a href="https://github.com/jsmecha/MyWebsite2">Git Repository</a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2 text-body-emphasis">Korean Food Recipe</h3>
            <p>Skills : Django</p>
            <p>Blog project with Korean Food Recipes</p>
            <a href="https://github.com/jsmecha/Korean-Food-Recipes">Git Repository</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}